<h1>Franco Benedetti David</h1>
<p>Find me in app/views/pages/one.html.erb</p>

<div class="jumbotron">
  <h1 class="display-4">Mi Primer Jumbotron</h1>
  <p class="lead">MI nombre es Franco Benedetti, soy un chico creativo y este es mi primer Jumbotron</p>
  <hr class="my-4">

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Ver mas</a>
  </p>
</div>
